# Display
CONFIG_BACKLIGHT_QCOM_WLED=y
CONFIG_REGULATOR_QCOM_LABIBB=y
CONFIG_DRM_PANEL_YU_YUREKA2_OTM1901A=y
CONFIG_DRM_PANEL_YU_YUREKA2_OTM1901A_OTP=y
CONFIG_DRM_PANEL_YU_YUREKA2_R63350=y

# Audio
CONFIG_SND_SOC_TFA98XX=y

# LED
CONFIG_LEDS_AW2013=m

# NFC
CONFIG_NFC_NXP_NCI=y
CONFIG_NFC_NXP_NCI_I2C=y

# Power
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_REGULATOR_GPIO=y

# Input
CONFIG_KEYBOARD_GPIO=y

# Battery
CONFIG_BATTERY_QCOM_FG=m
